@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Oswald';
  background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

button {
  padding: 6px 16px;
  font-size: 18px;
  background-color: #007cb9;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
}
